<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Скачать с Яндекс диска</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        function func() {
            var val = document.getElementById("select").value
            let dirs = document.getElementsByClassName("dir")
            let images = document.getElementsByClassName("image")
            let docs = document.getElementsByClassName("document")
            let others = document.getElementsByClassName("other")
            let list = [...dirs, ...images, ...docs, ...others]
            for (let i = 0; i < list.length; i++) {
                if (list[i].className == val) {
                    list[i].style.display = "block"
                }
                else {
                    list[i].style.display = "none"
                }
            }
        }
    </script>
    <form method="POST">
        {% csrf_token %}
        <div class="input-group p-5 my-5 text-center">
            <input type="text" name="public_key" class="form-control rounded w-30" placeholder="Введите ссылку на Яндекс диск" aria-label="Search" aria-describedby="search-addon" />
            <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>Открыть</button>
        </div>
    </form>

    {% if data %}
        <h1 class="display-5 fw-bold text-body-emphasis text-center"> {{ name }}</h1>
        <div class="container justify-content-center align-items-center w-100 p-4 py-md-2 ">
            <select class="form-select" id="select" onchange="func()">
                <option value="dir">Папки</option>
                <option value="image">Картинки</option>
                <option value="document">Документы</option>
                <option value="other">Другое</option>
            </select>
        </div>
        <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
            <div class="list-group w-100">
            {% if path %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="public_key" value="{{ public_key }}">
                    <button class="btn btn-outline-primary my-3" type="submit">В корень</button>
                </form>
            {% endif %} 
            {% for item in data %}
                {% if item.type == 'dir' %}
                    <div class="dir">
                        <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                            <img src="https://www.svgrepo.com/show/513476/folder.svg" alt="folder" width="32" height="32" class="flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                    <h6 class="mb-0">{{ item.name }}</h6>
                                </div>
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="public_key" value="{{ public_key }}">
                                    <input type="hidden" name="path" value="{{ item.path }}">
                                    <button type="submit" class="btn btn-outline-primary text-nowrap">Перейти</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if item.media_type == 'image' %}
                    <div class="image">
                        <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                            <img src="https://www.svgrepo.com/show/513470/photo.svg" alt="image" width="32" height="32" class="flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                    <h6 class="mb-0">{{ item.name }}</h6>
                                    <p class="mb-0 opacity-75">{{ item.size }} bytes</p>
                                </div>
                                <a href="{{ item.file }}" class="text-nowrap" download>Скачать</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if item.media_type == 'document' %}
                    <div class="document">
                        <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                            <img src="https://www.svgrepo.com/show/513532/file-2.svg" alt="document" width="32" height="32" class="flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                    <h6 class="mb-0">{{ item.name }}</h6>
                                    <p class="mb-0 opacity-75">{{ item.size }} bytes</p>
                                </div>
                                <a href="{{ item.file }}" class="text-nowrap" download>Скачать</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if item.media_type == 'other' %}
                    <div class="other">
                        <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                            <img src="https://www.svgrepo.com/show/513565/cog.svg" alt="other" width="32" height="32" class="flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                    <h6 class="mb-0">{{ item.name }}</h6>
                                    <p class="mb-0 opacity-75">{{ item.size }} bytes</p>
                                </div>
                                <a href="{{ item.file }}" class="text-nowrap" download>Скачать</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</body>
</html>